:root {
    --accent-color: #8fafaf;
    --orange: #e57a44;
}

.presentation {
    height: 75svh;
    max-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation > div > div {
    padding-left: 5%;
    padding-right: 5%;
}

.tool > .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.tool > .grid > div {
    text-align: center;
}

.projet .column {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.projet .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.projet .square {
    background-color: var(--nav-color);
    padding: 30px;
    overflow: hidden;
    height: 150px;
    position: relative;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--elem-color);
}

.square:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    right: -10px;
    box-shadow: inset var(--nav-color) 0 -15px 25px;
}

.lien_projet {
    flex-basis: 30%;
    flex-grow: 1;
    color: var(--light-text-color);
    text-decoration: none;
}

.square:hover {
    border-style: solid;
    border-color: var(--accent-color);
    box-shadow: var(--accent-color) 0 0 5px;
}

.project > .column {
    margin-right: auto;
    margin-left: auto;
}

@keyframes growing {
    from {
        width: 25%;
    }
    to {
        width: 70%;
    }
}

.pill {
    background-color: #F57700;
    position: relative;
    height: 10px;
    border-radius: 40px;
}

.layer1 {
    background-color: #8DFA00;
    position:absolute;
    height: 100%;
    border-radius: 40px;
    width: 70%;
    right:0;
    
    animation-duration: 7s;
    animation-name: growing;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}

.layer2 {
    background-color: #C800F5;
    position: absolute;
    height: 100%;
    border-radius: 40px;
    width:45%;
    right: 0;

    animation-duration: 5s;
    animation-name: growing;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#frame {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
