:root {
    --accent-color: #426565;
    --orange: #E57A44;
}

.presentation {
    background-color: var(--elem-color);
    height: 75svh;
    max-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation > div > div {
    padding-left: 5%;
    padding-right: 5%;
}

.tool {
    background-color: #508484;

}

.tool details > summary {
    cursor: pointer;
    list-style: none;
}

.projet {
    background-color: var(--elem-color);
}

.projet .column {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}

.projet .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.projet .square{
    background-color: var(--accent-color);
    padding: 30px;
    overflow: hidden;
    height: 150px;
    position:relative;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--accent-color);
}

.square:after{
    content: "";
    position: absolute; top: 0; bottom: 0; left: -10px; right: -10px;
    box-shadow: inset var(--accent-color) 0 -10px 25px;
}

.lien_projet {
    flex-basis: 30%;
    flex-grow: 1;
    color:black;
    text-decoration: none;
}

.square:hover {
    border-style: solid;
    border-color: var(--accent-color);
    box-shadow: black 0 0 10px;
}

.project > .column {
    margin-right: auto;
    margin-left: auto;
}
