:root {
    --nav-color: rgb(40, 44, 56);
    --light-text-color: #F5EDF0;
    --elem-color: #508484;
    --background-color: #E3CAD2;
}

@font-face {
    font-family: poppins;
    src: url("../res/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: poppins;
    src: url("../res/fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: bold;
}

body{
    margin: 0px;
    background-color: var(--background-color);
    font-family: poppins;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

header {
    background-color: var(--nav-color);
    border-radius: 5px;
    box-shadow: black 0px 0px 12px;
    margin: 5px;
    margin-bottom: 10px;
    height: 50px;
    top: 5px;

    position: sticky;
    z-index: 10;
}

nav {
    margin: 10px;
    margin-right: 15px;
    padding: 10px;
        
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

nav a:first-of-type {
    
    margin-right: auto;
}

nav a{
    color: var(--light-text-color);
}

footer {
    background-color: var(--nav-color);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: var(--light-text-color);
}

footer a {
    color: var(--light-text-color);
}

footer p {
    margin: 0px;
    margin-bottom: 8px;
}

.basic_layout{
    border-radius: 15px;
    box-shadow: black 0px 0px 7px;
    margin: 0px 15%;
    margin-bottom: 50px;
    padding: 3em;
}
